<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>

    <link href="/css/tailwind.css" rel="stylesheet"> 
</head>
<body>
  <header> 
    
  </header>
  <p class="text-xl font-bold bg-red-500"> primeiro texto 3! </p>    

    <div className='container'>
        <section class=''>
    
          <p className="text-xl font-bold"> Obrigado pela presença! </p>    
    
        
    
        </section>

        <section class='photo'>
         <img src="capa.jpeg" alt="capa" />    
       </section>
    </div>
    
</body>
</html>