<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>

    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <header> 
    
  </header>

    <div class='container'>
        <section class='left'>
    
          <p> Obrigado pela presença! </p>    
    
          <div class="" display="hidden">   
           <!-- <%- include('video') %> -->
          </div>
    
        </section>

        <section class='photo'>
         <img src="capa.jpeg" alt="capa" />    
       </section>
    </div>
    
</body>
</html>